PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/peerprep_users

JWT_EXPIRY=3600

SMTP_USER=your-peerprep-gmail@gmail.com
SMTP_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
SMTP_FROM="PeerPrep <your-peerprep-gmail@gmail.com>"

OTP_EXPIRY_MINUTES=10

FRONTEND_URL=http://localhost:3000
PASSWORD_RESET_EXPIRY_MINUTES=30
